[Unit]
Description=traefik
After=network-online.target

[Service]
Type=simple
User=traefik
ExecStart=/opt/traefik/traefik
PIDFile=/run/traefik.pid
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
