# see https://docs.traefik.io/reference/static-configuration/file/
[providers.docker]
  exposedByDefault = false
  watch = true

[providers.file]
  filename = "/etc/traefik/traefik.toml"

[entryPoints]
  [entryPoints.web]
    address = ":80"
{% if traefik_ssl_redirect_all|bool %}
  # redirect http to https
  [entryPoints.web.http.redirections.entryPoint]
    to = "websecure"
    scheme = "https"
{% endif %}
{% if traefik_ssl_enabled %}
  [entryPoints.websecure]
    address = ":443"
{% endif %}

#-------------------------------------------------------------------
# Configure SSL certificates
#-------------------------------------------------------------------
{% if traefik_ssl_cert is not none and traefik_ssl_key is not none %}
[[tls.certificates]]
    # Use letsencrypt wildcard certificate
    certFile = {{ traefik_ssl_cert | to_json }}
    keyFile  = {{ traefik_ssl_key | to_json }}
{% endif %}


[http.middlewares]
  #-------------------------------------------------------------------
  # Middleware to redirect http to https
  #-------------------------------------------------------------------
  [http.middlewares.https-redirect.redirectscheme]
    scheme = "https"
  #-------------------------------------------------------------------
  # Middleware to filter by IP
  #-------------------------------------------------------------------
  [http.middlewares.whitelist.ipWhiteList]
    sourceRange = {{ traefik_whitelist | to_json }}
  #-------------------------------------------------------------------
  # Middleware to add security headers
  # (see https://securityheaders.com/)
  #-------------------------------------------------------------------
  [http.middlewares.security-headers.headers]
    [http.middlewares.security-headers.headers.customResponseHeaders]
      X-Frame-Options = "SAMEORIGIN"
      Strict-Transport-Security = 'max-age=31536000;'
      X-Content-Type-Options = "nosniff"
      Referrer-Policy = "strict-origin"

#-------------------------------------------------------------------
# API and dashboard
#-------------------------------------------------------------------
{% if traefik_api_enabled %}
[api]
  insecure = {{ traefik_api_insecure | to_json }}
  dashboard = {{ traefik_api_dashboard | to_json }}
  debug = {{ traefik_api_debug | to_json }}
{% endif %}

#-------------------------------------------------------------------
# Logs
#-------------------------------------------------------------------
{% if traefik_accesslog_enabled %}
[accessLog]
{% endif %}
