# see https://docs.traefik.io/reference/static-configuration/file/
[providers.docker]
  exposedByDefault = false
  watch = true

[providers.file]
  filename = "/etc/traefik/traefik.toml"

[entryPoints]
  [entryPoints.web]
    address = ":80"
  [entryPoints.websecure]
    address = ":443"

#-------------------------------------------------------------------
# Configure SSL certificates
#-------------------------------------------------------------------
{% if traefik_ssl_cert != ""  and traefik_ssl_key != "" %}
[[tls.certificates]]
    # Use letsencrypt wildcard certificate
    certFile = {{ traefik_ssl_cert | to_json }}
    keyFile  = {{ traefik_ssl_key | to_json }}
{% endif %}


[http.middlewares]
  #-------------------------------------------------------------------
  # Middleware to redirect http to https
  #-------------------------------------------------------------------
  [http.middlewares.https-redirect.redirectscheme]
    scheme = "https"
  #-------------------------------------------------------------------
  # Middleware to filter by IP
  #-------------------------------------------------------------------
  [http.middlewares.whitelist.ipWhiteList]
    sourceRange = {{ traefik_whitelist | to_json }}
  #-------------------------------------------------------------------
  # Middleware to add security headers
  # (see https://securityheaders.com/)
  #-------------------------------------------------------------------
  [http.middlewares.security-headers.headers]
    [http.middlewares.security-headers.headers.customResponseHeaders]
      X-Frame-Options = "SAMEORIGIN"
      Strict-Transport-Security = 'max-age=31536000; includeSubDomains'
      X-Content-Type-Options = "nosniff"
      Referrer-Policy = "strict-origin"


#-------------------------------------------------------------------
# Redirect http to https
#-------------------------------------------------------------------
[http.routers]
  [http.routers.https-redirect]
  rule = "HostRegexp(`{any:.*}`)"
  middlewares = ["https-redirect"]
  service = "dummy"
  entryPoints = ["web"]

[http.services]
  [http.services.dummy.LoadBalancer]
     [[http.services.dummy.LoadBalancer.servers]]
        url = ""


#-------------------------------------------------------------------
# Enable traefik ui
#-------------------------------------------------------------------
{% if traefik_ui_enabled %}
[api]
  insecure = true
{% endif %}

[accessLog]
